/*Here is css file for MainPage.htm*/
body 
{
    background-image: linear-gradient(to right, #051937, #062e4b, #0f435d, #20596e, #35707d);
    padding-top: 18px;
    margin-bottom: 20px;
}

.signUp-1{

    padding-top: 18px;
    margin-bottom: 20px;
}
.signUpInput{
    outline: none;
  border: none;
}